<div class="main-wrapper">
  <div class="header">
    <h2>התרומות שלי</h2>
    <button class="add-btn" (click)="navigateNewDonation()">תרומה חדשה +</button>
  </div>

  <div class="list-container">
    @for (d of donations(); track d.id) {
    <div class="donation-item">
      <span class="donation-name"><strong>{{ d.foodType }}</strong></span>
      <div class="actions">
        <button class="btn-details" (click)="navigateDonationDetails(d)">
          פרטים
        </button>
        <button class="btn-edit" (click)="navigateUpdateDonation(d)">
          עריכה
        </button>
      </div>
    </div>
    }
  </div>

  <!-- @if (_donationService.view() === 'details') {
    <app-donation-detail [donation]="selectedDonation()!" (close)="_donationService.view.set('list')" [showClaimButton]="false"/>
  }

  @if (_donationService.view() === 'add') {
    <app-donation-add></app-donation-add>
  }
  
  @if (this._donationService.view() === 'edit') {
    <app-donation-update
      [donationToEdit]="selectedDonation()!"   (close)="_donationService.view.set('list')"
    />
  } -->
</div>