<div class="main-wrapper">
  <div class="header">
    <h2>התרומות שלי</h2>
    <button class="add-btn" (click)="navigateNewDonation()">תרומה חדשה +</button>
  </div>

  <div class="list-container">
    @for (d of donations(); track d.id) {
    <div class="donation-item">
      <h3>סוג מזון: {{ d.foodType }}</h3>
      <p>כמות: {{ d.quantity }} ק"ג</p>
      @if (!d.isClaimed) {
      <div class="actions">
        <button class="btn-delete" (click)="deleteDonation(d)">
          מחיקה
        </button>
        <button class="btn-edit" (click)="navigateUpdateDonation(d)">
          עריכה
        </button>
      </div>
      }
      @else {
      <button class="btn-claim" (click)="confirmDonation(d)">
        אשר איסוף
      </button>
      }
    </div>
    }
  </div>
</div>
